  html, body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }

  h1{
    font-family: 'Bitter', serif;
  }

  h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
  }

  .page-footer{
      margin-top: 100px;
  }

  i.fa-6 {
      font-size: 40px;
  }

  i.myIcons{
      font-size: 80px;
      color: #b0bec5 ;
  }

  .intro{
      margin-top: 30px;
  }

  img.proj-img{
      height: 300px;
  }

  img.my-head{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  .parallax-container {
    height: 700px !important;
  }

  .parallax-container>h1{
    color: white;
    text-shadow: 2px 2px 5px black;
  }

  h3{
    color: white;
    text-shadow: 2px 2px 5px black;

  }

  .about-div, .work-div{
    border-right: 1px solid white;
  }

  @media screen and (max-width: 640px){
    i.myIcons{
        font-size: 40px;
        color: #b0bec5 ;
    }
    .intro{
        margin-top: 1px;
    }
    .collapsible{
        width: 100%;
    }

  }